$border: 1px solid#f0f0f0;

[border-top] {
  border-top: $border;
}

[border-bottom] {
  border-bottom: $border;
}
[border-left] {
  border-left: $border;
}

[border-right] {
  border-right: $border;
}

[no-border] {
  border: none !important;
}
