[no-margin] {
  margin: 0 !important;
}

[margin-32],
[class*='el-'][margin-32] {
  margin: 32px;
}

[margin-v-32],
[class*='el-'][margin-v-32] {
  margin-top: 32px;
  margin-bottom: 32px;
}

[margin-h-32],
[class*='el-'][margin-h-32] {
  margin-left: 32px;
  margin-right: 32px;
}

[margin-left-32],
[class*='el-'][margin-left-32] {
  margin-left: 32px;
}

[margin-right-32],
[class*='el-'][margin-right-32] {
  margin-right: 32px;
}

[margin-top-32],
[class*='el-'][margin-top-32] {
  margin-top: 32px;
}

[margin-bottom-32],
[class*='el-'][margin-bottom-32] {
  margin-bottom: 32px;
}

[margin-24],
[class*='el-'][margin-24] {
  margin: 24px;
}

[margin-v-24],
[class*='el-'][margin-v-24] {
  margin-top: 24px;
  margin-bottom: 24px;
}

[margin-h-24],
[class*='el-'][margin-h-24] {
  margin-left: 24px;
  margin-right: 24px;
}

[margin-left-24],
[class*='el-'][margin-left-24] {
  margin-left: 24px;
}

[margin-right-24],
[class*='el-'][margin-right-24] {
  margin-right: 24px;
}

[margin-top-24],
[class*='el-'][margin-top-24] {
  margin-top: 24px;
}

[margin-bottom-24],
[class*='el-'][margin-bottom-24] {
  margin-bottom: 24px;
}

[margin-20],
[class*='el-'][margin-20] {
  margin: 20px;
}

[margin-v-20],
[class*='el-'][margin-v-20] {
  margin-top: 20px;
  margin-bottom: 20px;
}

[margin-h-20],
[class*='el-'][margin-h-20] {
  margin-left: 20px;
  margin-right: 20px;
}

[margin-left-20],
[class*='el-'][margin-left-20] {
  margin-left: 20px;
}

[margin-right-20],
[class*='el-'][margin-right-20] {
  margin-right: 20px;
}

[margin-top-20],
[class*='el-'][margin-top-20] {
  margin-top: 20px;
}

[margin-bottom-20],
[class*='el-'][margin-bottom-20] {
  margin-bottom: 20px;
}

[margin-10],
[class*='el-'][margin-10] {
  margin: 10px;
}

[margin-v-10],
[class*='el-'][margin-v-10] {
  margin-top: 10px;
  margin-bottom: 10px;
}

[margin-h-10],
[class*='el-'][margin-h-10] {
  margin-left: 10px;
  margin-right: 10px;
}

[margin-left-10],
[class*='el-'][margin-left-10] {
  margin-left: 10px;
}

[margin-right-10],
[class*='el-'][margin-right-10] {
  margin-right: 10px;
}

[margin-top-10],
[class*='el-'][margin-top-10] {
  margin-top: 10px;
}

[margin-bottom-10],
[class*='el-'][margin-bottom-10] {
  margin-bottom: 10px;
}
