<div class="settings-modal" title="系统布局配置">
    <div class="drawer-item">
        <span>主题色</span>
        <theme-picker style="float: right; height: 26px; margin-top: -3px" @change="themeChange" />
    </div>

    <div class="drawer-item">
        <span>显示浏览标签</span>
        <el-switch v-model="showTagsView" class="drawer-switch" />
    </div>

    <div class="drawer-item">
        <span>显示学院Logo</span>
        <el-switch v-model="showSidebarLogo" class="drawer-switch" />
    </div>
    <div class="drawer-item">
        <span>固定头部</span>
        <el-switch v-model="fixedHeader" class="drawer-switch" />
    </div>

    <div class="drawer-item">
        <span>侧边栏文字主题色</span>
        <el-switch v-model="sidebarTextTheme" class="drawer-switch" />
    </div>
</div>